<p id="notice"><%= notice %></p>

<h1>Accounts</h1>

  <hr>

  <%= form_tag search_accounts_path, method: 'get' do %>
    <%= label_tag :query %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag :search %>
  <% end %>

  <hr>


<table>
  <thead>
    <tr>
      <th>Adress</th>
      <th>Account Number</th>
      <th>Age</th>
      <th>Email</th>
      <th>Balance</th>
      <th>Employer</th>
      <th>First name</th>
      <th>gender</th>
      <th>state</th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.address %></td>
        <td><%= account.account_number %></td>
        <td><%= account.age %></td>
        <td><%= account.email %></td>
        <td><%= account.balance %></td>
        <td><%= account.employer %></td>
        <td><%= account.firstname %></td>
        <td><%= account.gender %></td>
        <td><%= account.state %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_account_path %>  <%= link_to 'All Accounts', accounts_path if params[:q] %>
